/* Página index html */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: rgb(0,0,0);
}

/* Formatação padrão para todas as páginas */
#topo, #main, #rodape, #topoform, #mainform, #rodapeform, #topohist, #mainhist, #rodapehist, #toposobre, #mainsobre, #rodapesobre {
    background-color:  rgba(201, 207, 199, 0.904);
    margin: 8px;
    padding: 3px 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    border-width: 5px;
    box-shadow: 2px 5px 5px rgb(51, 51, 50);    
}

/* Menu da página index.html */

.nav-item:hover{
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(245, 238, 238, 0.719);  
    margin-left: 10px;
}

/* Itens da página index.html */
.item5 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    font-weight: 700;
    font-size:2em;    
}

.rotulo, .titulo, .rotulosobre, .rotulosobre1 {
    color: rgb(0,0,255);
    line-height: 4px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    align-self: center;
    justify-self: center;
}

.valor{
    color: rgb(0,0,255);
    line-height: 2px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    align-self: center;
    justify-self: center;
}

i  {
    color: rgb(143, 117, 60);
}

.container1 {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr;
    grid-row: 1/3;
    grid-gap: 1px;
    flex-direction: row;
}

.box{
    align-self: center;
    justify-self: center;
    padding: 1em 4em;    
}

p{
    font-size:20px;
}

.retrato img {
    width: minmax(200px 500px);
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;   
    border: 1px solid rgba(201, 207, 199, 0.904);
    border-radius: 50%;    
}

.nota_rodape {
    color: rgb(0,0,255);
    margin-right: 2em;
    letter-spacing: 2px;
    line-height: 5px;
    font-size:20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;    
}

.tel { 
    margin-bottom: 1em;
    color: rgb(0,0,255);
}

a.botao{
    text-decoration: none;
    font-size: 1.3rem;
}

a.botao:hover{
    color: white;
    background: darkblue;
    text-decoration: none;
}

#copyright {
    font-weight: bold;   
    text-align: center;
}

/* Containers do Formulário */
.container2 {
    display: grid;
    grid-template-columns: 50% 75%;
    margin: 1px 1px 1px 3px;
}

.container3 {
    display: grid;
    grid-template-columns: 100%;
    align-self: flex-start;
    justify-content: flex-start;
}

.container4 {
    display: grid;
    grid-template-columns: 100%;
    align-self: flex-end;
    justify-content: flex-end;
}

/* Principal do formulário*/
main form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "cliente fone email"
        "dt_nascimento celular motivo"
        "assunto promocoes prediletos"
        "teor btn_enviar btn_limpar";
    grid-gap: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    }

.mainform h2 {
    text-align: center;
}

main form .form-group {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.agradecimentos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20 px;
    text-align: center;
}


.mantra h3 {
    position: fixed;
    top: 50px;
    left: 10px;
    margin: 18px;
    background-color: red;
    border-radius: 20px;
    font-size: 15pt;
    color: white;
}

.retratosobre img {
    width: minmax(200px 500px);
    max-width:500px;
    max-height:500px;
    width: auto;
    height: auto;   
    border: 1px solid rgba(201, 207, 199, 0.904);
    border-radius: 50%;  
}

.rotulosobre{
  text-align: right;
}

.rotulosobre1 {
  /*animation-direction: reverse;*/
  animation: move_rotulosobre1 8s linear;  
}

.rotulosobre {
  /*animation-direction: reverse;*/
  animation: move_rotulosobre 8s linear;
  
}

@keyframes move_rotulosobre1{
  from, to {
    transform: translateX(0);
  }

  12.5%, 87.5%{
    transform: translate(20vw);
  }

  25%, 75%{
    transform: translate(40vw);
  }

  37.5%, 62.5%{
    transform: translate(60vw);
  }

  50%{
     transform: translate(80vw);
  }  
}


@keyframes move_rotulosobre{
  from, to {
    transform: translateX(-80);
  }

  12.5%, 87.5%{
    transform: translate(-20vw);
  }

  25%, 75%{
    transform: translate(-40vw);
  }

  37.5%, 62.5%{
    transform: translate(-60vw);
  }

  50%{
     transform: translate(-80vw);
  } 
  
}